<ion-header>
  <ion-toolbar>
    <ion-title>알림</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #content>
  <div id="push-container" *ngIf="(alarms$ | async) as alarms">
    <div class="top">
      <p>15일 이내의 알림만 표시됩니다.</p>
    </div>

    <!-- 알림이 없는 경우 -->
    <div class="list-none" *ngIf="!alarms.length">
      <p>아직 받아볼 알림이 없습니다.</p>
    </div>

    <ion-list class="push-list" *ngIf="alarms.length">
      <!-- push-item에 on class가 붙으면 알림 표시가 뜨게 작성하였습니다. -->
      <ion-item
        class="push-item on"
        (click)="goPush(item)"
        lines="full"
        *ngFor="let item of alarms"
      >
        <ion-label class="label-t">
          <p class="left">
            <span class="type">{{item.category}}</span>
            <span>{{item.title}}</span>
          </p>
          <p class="date">
            {{item.dateCreated | dateFormat}}
            <span class="badge" *ngIf="!item.checkSwitch"></span>
          </p>
        </ion-label>
        <ion-label class="rows-ellipsis-title">{{item.content}}</ion-label>
      </ion-item>
    </ion-list>
  </div>
  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    *ngIf="!dataService.type.includes('mall') && !dataService.type.includes('chat')"
  >
    <ion-fab-button class="write-btn" (click)="feedWrite()">
      <img src="assets/imgs/icon-tab-3.png" alt="" />
    </ion-fab-button>
  </ion-fab>
</ion-content>
