ion-header {
    ion-toolbar {
        --padding-end: 1rem;
        .suc {
            font-weight: 600;
            font-size: 1rem;
            line-height: 1.25rem;
            --color: var(--ion-color-main);
            &[disabled] {
                --color: #918f98;
            }
        }
    }
}

#change-password-container {
    .input-wrapper {
        padding: 1.5rem 4.26666666667%;
    }
    .input-item {
        position: relative;
        margin-bottom: 12.82798833819%;
        ion-input {
            --padding-start: 0.75rem;
            --padding-end: 0.75rem;
        }
    }
    .val {
        position: absolute;
        padding-top: 0.125rem;
    }
}
