<ion-header>
  <ion-toolbar>
    <!-- 백버튼 -->
    <ion-buttons class="back-btn" slot="start">
      <ion-back-button defaultHref="/" text="" icon="/"> </ion-back-button>
      <div class="back-icon" slot="start">
        <svg width="24px" height="24px" viewBox="0 0 24 24">
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g transform="translate(-16.000000, -60.000000)">
              <g transform="translate(0.000000, 44.000000)">
                <g transform="translate(16.000000, 16.000000)">
                  <rect x="0" y="0" width="24" height="24"></rect>
                  <line x1="3" y1="12" x2="22" y2="12" class="stroke-0"></line>
                  <polyline
                    class="stroke-0"
                    stroke-linecap="square"
                    points="9.5 5.24815798 2.75 12.0086286 9.5 18.748158"
                  ></polyline>
                </g>
              </g>
            </g>
          </g>
        </svg>
      </div>
    </ion-buttons>
    <ion-title>비밀번호 변경</ion-title>
    <ion-buttons slot="end">
      <ion-button
        class="suc"
        [disabled]="!presentPw || !newPw || !confirmPw"
        (click)="changeBtn()"
        >완료</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="false">
  <div id="change-password-container">
    <div class="input-wrapper">
      <div class="input-item">
        <ion-item>
          <ion-input
            inputmode="text"
            type="password"
            [(ngModel)]="presentPw"
            minlength="6"
            placeholder="현재 비밀번호"
          ></ion-input>
        </ion-item>
        <p class="val" *ngIf="presentPw && !validation('present')">
          영문+숫자 6글자 이상 입력해주세요.
        </p>
      </div>

      <div class="input-item">
        <ion-item>
          <ion-input
            inputmode="text"
            [(ngModel)]="newPw"
            type="password"
            minlength="6"
            placeholder="새 비밀번호"
          ></ion-input>
        </ion-item>
        <p class="val" *ngIf="newPw && !validation('new')">
          영문+숫자 6글자 이상 입력해주세요.
        </p>
      </div>

      <div class="input-item">
        <ion-item>
          <ion-input
            inputmode="text"
            type="password"
            minlength="6"
            [(ngModel)]="confirmPw"
            placeholder="새 비밀번호 다시 입력"
          ></ion-input>
        </ion-item>
        <p class="val" *ngIf="confirmPw && !comparePwd()">
          비밀번호가 일치하지 않습니다.
        </p>
      </div>
    </div>
  </div>
</ion-content>
