<ion-content>
  <div id="login-container">
    <h1 class="logo">
      <img src="assets/imgs/logo.png"
        alt="" />
    </h1>

    <div class="input-wrapper">
      <!-- 이메일 -->
      <ion-item class="margin-item">
        <ion-label>이메일 주소</ion-label>
        <ion-input inputmode="email"
          [(ngModel)]="email"
          type="email"
          placeholder="이메일 주소를 입력해 주세요."></ion-input>
      </ion-item>

      <!-- 비밀번호 -->
      <ion-item class="pw-item">
        <ion-label>비밀번호</ion-label>
        <ion-input inputmode="text"
          [(ngModel)]="password"
          type="password"
          minlength="6"
          placeholder="비밀번호를 입력해 주세요."></ion-input>
      </ion-item>
    </div>

    <ion-button class="login-btn"
      (click)="login()"
      expand="block"
      fill="default">로그인</ion-button>
  </div>

  <ion-footer>
    <ion-toolbar>
      <ion-buttons>
        <ion-button class="find-btn"
          (click)="findPasswordAlert()"
          fill="default">비밀번호를 잊으셨나요?</ion-button>
        <ion-button class="sign-btn"
          (click)="goSignUp()"
          fill="default">회원가입</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ion-content>