ion-header {
  ion-toolbar {
    --padding-start: 1rem;
    --padding-end: 1rem;
  }
  ion-button {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    --color: #3e3d42;
    &.up-btn {
      font-weight: 600;
      --color: var(--ion-color-main);
      &[disabled] {
        --color: #918f98;
      }
    }
  }
}

#feed-write-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 52px - 56px);
  // .layout {
  //     height: calc(100vw - 56px - 166px - 52px);
  // }
  .picker-wrapper {
    margin-bottom: 5.83090379009%;
    padding: 0.75rem 1rem 0;
    width: 100%;
    .picker-btn {
      padding: 0.6875rem 0.5rem 0.6875rem 0.75rem;
      width: 100%;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.375rem;
      color: #66656b;
      border: 1px solid #d3d1d7;
      background: #fff;
      --background: #fff;
    }
    span {
      display: block;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.25rem;
      color: #918f97;
      &.result-text {
        width: calc(100% - 1.25rem);
        text-align: left;
      }
      &.icon {
        width: 1.25rem;
        height: 1.25rem;
        background: url(../../../assets/imgs/icon-picker-arrow.png) no-repeat center center/ 100%
          100%;
      }
    }
  }

  .input-wrapper {
    padding: 0 1rem 0;
    .title-item {
      position: relative;
      margin-bottom: 0.75rem;
      border-bottom: 1px solid #d3d1d7;
    }
    .content-item {
      margin-bottom: 3.2%;
      // max-height: 100vw;
      // height: calc(100vh - 56px - 3.5rem - 2.25rem - 9.375rem - 52px);
      overflow-y: scroll;
    }
    ion-textarea {
      --placeholder-color: #918f97;
      line-height: 1.5rem;
      // max-height: calc(57vh - 8.125rem);
      &.title-textarea {
        padding-bottom: 0.75rem;
        font-weight: 600;
      }
    }
    .val {
      padding-top: 0.25rem;
    }
  }

  .images-wrapper {
    display: flex;
    align-items: center;
    justify-self: flex-start;
    padding: 0 1rem 1rem;
    .image-item {
      position: relative;
      width: 50.984%;
      height: 0;
      padding-bottom: 48.834%;
      &:first-child {
        margin-right: 0.5rem;
      }
    }
    .del-btn {
      position: absolute;
      top: 0;
      right: 0;
      width: 2rem;
      height: 2rem;
      background: url(../../../assets/imgs/icon-del.png) no-repeat center center/ 100% 100%;
      z-index: 1;
    }
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .slides-wrapper {
    padding: 0 1rem 1rem;
    width: 100%;
    ion-slide {
      position: relative;
      height: 40vw;
      background-color: #000;
      .del-btn {
        position: absolute;
        top: 0;
        right: 0;
        width: 2rem;
        height: 2rem;
        background: url(../../../assets/imgs/icon-del.png) no-repeat center center/ 100% 100%;
        z-index: 1;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

ion-footer {
  ion-toolbar {
    --padding-top: 0;
    --padding-end: 0.875rem;
    --padding-bottom: 0;
    --padding-start: 0.375rem;
    --min-height: 52px;
    box-shadow: 0 -2px 6px rgba(62, 61, 66, 0.3);
    & > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
    .button-wrapper {
      ion-button {
        --padding-start: 0;
        --padding-end: 0;
        width: 2.625rem;
        height: 2.625rem;
        background: no-repeat center center / 100% 100%;
        &.camera-btn {
          background-image: url(../../../assets/imgs/icon-camera.png);
        }
        &.galley-btn {
          background-image: url(../../../assets/imgs/icon-galley.png);
        }
      }
    }

    .txt {
      flex: 1;
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 1.5rem;
      color: #918f97;
      text-align: right;
      white-space: pre-line;
    }
  }
}

@media screen and (max-width: 335px) {
  #feed-write-container {
    .input-wrapper {
      .content-item {
        min-height: calc(52vh - 8.125rem);
      }
    }
  }
  ion-footer {
    ion-toolbar {
      --padding-end: 0.375rem;
      .txt {
        font-size: 0.8438rem;
        line-height: 1.25rem;
      }
    }
  }
}
