ion-list {
}
ion-item {
    ion-label {
        padding: 1.125rem 4.2666666667%;
        border-bottom: 1px solid #d3d1d7;
    }
}
.title {
    padding-bottom: 4px;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #161616;
    word-break: break-all;
}
.date {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #918f97;
}
