<ion-header>
  <ion-toolbar color="light">
    <!-- 백버튼 -->
    <ion-buttons class="back-btn" slot="start">
      <ion-back-button defaultHref="/" text="" icon="/"> </ion-back-button>
      <div class="back-icon" slot="start">
        <svg width="24px" height="24px" viewBox="0 0 24 24">
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g transform="translate(-16.000000, -60.000000)">
              <g transform="translate(0.000000, 44.000000)">
                <g transform="translate(16.000000, 16.000000)">
                  <rect x="0" y="0" width="24" height="24"></rect>
                  <line x1="3" y1="12" x2="22" y2="12" class="stroke-0"></line>
                  <polyline
                    class="stroke-0"
                    stroke-linecap="square"
                    points="9.5 5.24815798 2.75 12.0086286 9.5 18.748158"
                  ></polyline>
                </g>
              </g>
            </g>
          </g>
        </svg>
      </div>
    </ion-buttons>
    <ion-title *ngIf="topCategory">{{topCategory.title}}</ion-title>

    <ion-buttons slot="end">
      <ion-button fill="default" (click)="gosearch()">
        <!-- <img src="assets/imgs/shop/nav-search.png" alt="" /> -->
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
      <ion-button fill="default" (click)="gobasket()">
        <!-- <img src="assets/imgs/shop/nav-basket.png" alt="" /> -->
        <ion-icon name="cart-outline"></ion-icon>
        <ng-container *ngIf="user$|async as user">
          <ion-badge *ngIf="user && user.cartCount >0 ">
            {{user.cartCount}}
          </ion-badge>
        </ng-container>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="header-seg">
    <ion-segment
      scrollable
      [(ngModel)]="category"
      (ionChange)="checkSubCategory()"
    >
      <ion-segment-button value="전체">전체</ion-segment-button>
      <ion-segment-button value="{{item.id}}" *ngFor="let item of subCategory"
        >{{item.title}}</ion-segment-button
      >
    </ion-segment>
  </div>
</ion-header>

<ion-content #content [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <div *ngIf="sortProducts?.length > 0 ">
    <ion-list>
      <div class="filter">
        <h3>
          <strong> {{product?.length}}</strong>
          개 상품
        </h3>

        <ion-item>
          <ion-select
            interface="popover"
            [(ngModel)]="filter"
            (ionChange)="filterChange()"
          >
            <ion-select-option value="최신순">최신순</ion-select-option>
            <ion-select-option value="낮은가격순">낮은가격순</ion-select-option>
            <ion-select-option value="높은가격순">높은가격순</ion-select-option>
            <ion-select-option value="판매량순">판매량순</ion-select-option>
          </ion-select>
        </ion-item>
      </div>

      <div class="cont">
        <div
          class="cont-inner"
          (click)="goDetail(item)"
          *ngFor="let item of sortProducts| slice:0:lastIndex;"
        >
          <div class="cont-img-inner">
            <div class="cont-img">
              <span *ngIf="item.stockCount === 0" class="sold-out">
                SOLD OUT
              </span>
              <img
                #swipeCardImage
                [src]="item.images[0]"
                (load)="swipeCardImage.style.opacity = 1"
                alt=""
              />
            </div>

            <ng-container
              *ngIf="('product/' + item.id | doc | async) as product"
            >
              <ion-button
                fill="default"
                *ngIf="currentUser &&!product.heartList.includes(currentUser.uid)"
                (click)="like(item);$event.stopPropagation();"
              >
                <img src="assets/imgs/shop/heart-btn.png" alt="" />
              </ion-button>

              <ion-button
                fill="default"
                *ngIf="currentUser && product.heartList.includes(currentUser.uid)"
                (click)="like(item);$event.stopPropagation();"
              >
                <img src="assets/imgs/shop/heart-btn-ac.png" alt="" />
              </ion-button>
            </ng-container>
          </div>

          <div class="cont-txt">
            <h4>{{item.productName}}</h4>

            <!-- 
            원가 (할인율 있을 때)
           -->
            <span *ngIf="item.discountRate != 0" class="cost-price1">
              {{item.price | number:''}}
            </span>

            <!-- 
            원가 (할인율 없을 때)
           -->
            <span *ngIf="item.discountRate === 0" class="cost-price2">
              {{item.price | number:''}}
            </span>

            <div class="sale" *ngIf="item.discountRate != 0">
              <h5>{{item.discountPrice|number:''}}</h5>
              <span> {{item.discountRate}}% </span>
            </div>
            <div class="heart">
              <img src="assets/imgs/shop/heart.png" alt="" />
              <span> {{item.heartList?.length}} </span>
            </div>
          </div>
        </div>
      </div>

      <ion-infinite-scroll
        (ionInfinite)="loadData($event)"
        *ngIf="sortProducts?.length > lastIndex"
      >
        <ion-infinite-scroll-content loadingSpinner="bubbles">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-list>
  </div>

  <ion-fab id="scroll8" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="light" (click)="top()">
      <img src="assets/imgs/shop/top.png" alt="" />
    </ion-fab-button>
  </ion-fab>

  <!-- 
    없을 때
   -->

  <div *ngIf="sortProducts?.length === 0" class="cont-none">
    등록된 상품이 없습니다.
  </div>
</ion-content>
