/** @format */

$red: #ff3d1e;
$main: #1f1f1f;
$gray: #3f3f3f;
ion-toolbar {
  ion-buttons[slot="end"] {
    ion-button:first-of-type {
      margin-right: 0.5rem;
    }
    ion-button:last-of-type {
      margin-right: 0.4375rem;
      position: relative;
      width: 2.25rem;

      img {
        width: 2rem;
      }
    }
  }
}

ion-list {
  padding: 1.875rem 1rem;
  .filter {
    margin-bottom: 0.9375rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      font-size: 1.125rem;
      line-height: 1.3125rem;
      font-weight: bold;
      color: $main;
      margin: 0;
    }

    h3 {
      font-size: 1.125rem;
      line-height: 1.3125rem;
      color: $main;
      font-weight: normal;
      display: flex;
      align-items: center;
      strong {
        display: block;
      }
    }

    ion-item {
      ion-select {
        color: #3f3f3f;
        margin: 0;
        padding: 0;
      }

      ion-select::part(icon) {
        color: transparent;
        opacity: 1;
        background: url(../../../../assets/imgs/shop/select.png) no-repeat;
        background-size: cover;
        background-position: center;
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  /*
     * 컨텐츠
     */
  .cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .cont-inner {
      width: calc(50% - 0.1563rem);
      margin-bottom: 2.5rem;

      .cont-img-inner {
        position: relative;
        margin-bottom: 0.625rem;
        //
        .cont-img {
          padding-bottom: 140%;
          position: relative;

          img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;

            object-fit: cover;
            pointer-events: none;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
          }
        }

        .button-default {
          width: 1.5rem;
          position: absolute;
          --background: transparent;
          bottom: 0.3125rem;
          right: 0.3125rem;
        }
      }

      .cont-txt {
        min-height: 5rem;
        h4 {
          font-size: 1rem;
          font-weight: normal;
          color: $gray;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-bottom: 0.25rem;
        }

        .cost-price1 {
          display: block;
          font-size: 0.875rem;
          font-weight: normal;
          color: #999;
          text-decoration: line-through;
        }
        .cost-price2 {
          display: block;
          font-size: 1rem;
          font-weight: bold;
          color: #000;
        }

        .sale {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 2px;

          h5 {
            font-size: 1rem;
            font-weight: bold;
            color: #000;
          }

          span {
            display: block;
            font-size: 1rem;
            color: $red;
            font-weight: 500;
            line-height: 1.125rem;
          }
        }

        .heart {
          display: flex;
          align-items: center;
          img {
            width: 0.875rem;
            height: 0.875rem;
            margin-right: 3px;
          }
          span {
            display: block;
            font-size: 0.875rem;
            color: #999999;
          }
        }
      }
    }
  }
}
