#feed-reply-container {
    background-color: #ededf2;
    .comment-wrapper {
        margin-bottom: 2.13333333333%;
        // border-bottom: 8px solid #ededf2;
        box-shadow: 0 2px 6px rgba(62, 61, 66, 0.3);
        background: #fff;
        &:last-of-type {
            margin-bottom: 0;
        }
        &.re {
            padding-top: 1.25rem;
            box-shadow: none;
        }

        .comment-item {
            padding: 1.25rem 4.26666666667%;
            &::part(native) {
                align-items: flex-start;
            }
            .left {
                max-width: 12%;
                width: 100%;
                height: 100%;
                ion-avatar {
                    position: relative;
                    width: 77.76%;
                    height: 0;
                    padding-bottom: 77.76%;
                    img {
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                }
            }
            .mid {
                display: flex;
                flex-direction: column;
                width: 100%;
                .nickname {
                    margin-bottom: 1.06666666667%;
                    width: 100%;
                    font-weight: 400;
                    font-size: 0.875rem;
                    line-height: 1.25rem;
                    color: #66656b;
                }
                .txt {
                    margin-bottom: 1.06666666667%;
                    font-weight: 400;
                    font-size: 0.875rem;
                    line-height: 1.3125rem;
                    white-space: pre-line;
                    word-break: break-all;
                }
                .content {
                    display: flex;
                    align-items: center;
                    span {
                        font-weight: 400;
                        font-size: 0.875rem;
                        line-height: 1.25rem;
                        color: #66656b;
                        &.time {
                            margin-right: 3.2%;
                        }
                    }
                    .like {
                        margin-right: 3.2%;
                        img {
                            margin-right: 0.53333333333%;
                            width: 1.25rem;
                            height: 1.25rem;
                            &.ac {
                                display: none;
                            }
                        }
                        &.active {
                            span {
                                color: var(--ion-color-main);
                            }
                            .no {
                                display: none;
                            }
                            .ac {
                                display: block;
                            }
                        }
                    }

                    .reply-btn {
                        display: flex;
                        align-items: center;
                        font-weight: 400;
                        font-size: 0.875rem;
                        line-height: 1.25rem;
                        color: #66656b;
                        .icon {
                            display: block;
                            margin-right: 0.53333333333%;
                            width: 1.25rem;
                            height: 1.25rem;
                            background: url(../../../assets/imgs/icon-comment.png) no-repeat center center / 100% 100%;
                        }
                    }
                }
            }
            .right {
                ion-button {
                    width: 1.25rem;
                    height: 1.25rem;
                }
            }

            &.re {
                padding-top: 0;
                padding-bottom: 1.25rem;
                .left {
                    display: flex;
                    align-items: flex-start;
                    max-width: 18%;
                    .icon {
                        display: block;
                        margin-right: 0.5rem;
                        width: 0.75rem;
                        height: 0.75rem;
                    }
                    ion-avatar {
                        width: 51.84%;
                        padding-bottom: 51.84%;
                    }
                }
            }

            &.report {
                padding-top: 0;
                &::part(native) {
                    align-items: center;
                }
                .left {
                    display: flex;
                    align-items: flex-start;
                    max-width: 18%;
                    .icon {
                        display: block;
                        margin-right: 0.5rem;
                        width: 0.75rem;
                        height: 0.75rem;
                    }
                    ion-avatar {
                        width: 51.84%;
                        padding-bottom: 51.84%;
                    }
                }
                .mid {
                    ion-label {
                        font-weight: 400;
                        font-size: 0.875rem;
                        line-height: 1.25rem;
                        color: #918f97;
                    }
                }
            }
        }
           &.report {
                padding-top: 0;
                &::part(native) {
                    align-items: center;
                }
                .left {
                    display: flex;
                    align-items: flex-start;
                    max-width: 12%;
                    .icon {
                        display: block;
                        background-image: none;
                    }
                    ion-avatar {
                        width: 77.76%;
                        padding-bottom: 77.76%;
                    }
                }
                .mid {
                    ion-label {
                        font-weight: 400;
                        font-size: 0.875rem;
                        line-height: 1.25rem;
                        color: #918f97;
                    }
                }
                &.re {
                    .left {
                        max-width: 18%;
                        ion-avatar {
                            width: 51.84%;
                            padding-bottom: 51.84%;
                        }
                        .icon {
                            margin-right: 0.5rem;
                            width: 0.75rem;
                            height: 0.75rem;
                            background: url(../../../assets/imgs/icon-re.png) no-repeat center center / 100% 100%;
                        }
                    }
                }
            }
    }
}

ion-footer {
    ion-toolbar {
        --padding-top: 0.5rem;
        --padding-end: 1rem;
        --padding-bottom: 0.5rem;
        --padding-start: 1rem;
        box-shadow: 0 -2px 6px rgba(62, 61, 66, 0.3);
        ion-item {
            --min-height: 20px;
            &::part(native) {
                display: flex;
                align-items: center;
            }
            ion-textarea {
                --padding-end: 1.25rem;
                max-height: 65px;
                font-weight: 400;
                font-size: 1rem;
                line-height: 1.25rem;
                --placeholder-color: #918f97;
            }
            ion-button {
                height: 1.25rem;
                font-weight: 600;
                font-size: 1rem;
                line-height: 1.25rem;
                --color: var(--ion-color-main);
                &[disabled] {
                    --color: #918f97;
                }
            }
        }
    }
}
