#terms-container {
    padding: 1rem 4.26666666667%;
    p {
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5rem;
        color: #3e3d42;
        white-space: pre-line;
        word-break: break-all;
    }
}
