<ion-header>
  <ion-toolbar>
    <!-- 백버튼 -->
    <ion-buttons class="back-btn" slot="start">
      <ion-button class="back" (click)="goBack()">
        <svg width="24px" height="24px" viewBox="0 0 24 24">
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g transform="translate(-16.000000, -60.000000)">
              <g transform="translate(0.000000, 44.000000)">
                <g transform="translate(16.000000, 16.000000)">
                  <rect x="0" y="0" width="24" height="24"></rect>
                  <line x1="3" y1="12" x2="22" y2="12" class="stroke-0"></line>
                  <polyline
                    class="stroke-0"
                    stroke-linecap="square"
                    points="9.5 5.24815798 2.75 12.0086286 9.5 18.748158"
                  ></polyline>
                </g>
              </g>
            </g>
          </g>
        </svg>
      </ion-button>
    </ion-buttons>

    <ion-title>자주 묻는 질문</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <mat-accordion id="accordion-container"
    class="example-headers-align">
    <mat-expansion-panel *ngFor="let item of faqList">
      <mat-expansion-panel-header>
        <mat-panel-title>{{item.title}}</mat-panel-title>
      </mat-expansion-panel-header>

      <mat-form-field appearance="fill">
        <mat-label>{{item.text}}</mat-label>
      </mat-form-field>
    </mat-expansion-panel>
  </mat-accordion> -->
  <ion-accordion-group class="example-headers-align">
    <ion-accordion
      [value]="item.id"
      *ngFor="let item of faqList"
      toggleIcon=" "
    >
      <ion-item slot="header">
        <ion-label>{{item.title}}</ion-label>
      </ion-item>
      <div slot="content">{{item.text}}</div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
